services:
  consul:
    image: hashicorp/consul:latest
    container_name: consul
    ports:
      - "8500:8500"
    command: "consul agent -dev -ui -client=0.0.0.0"
    
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: twitter
    volumes:
      - mongodb_data:/data/db
      
  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  mongodb_data:
